<!-- Contenedor main -->
<div class="container">
	<div class="panel panel-default">
	  <div class="panel-body">
			<img src="http://www.logopub.net/data/thumbnails/108/LOL.jpg">
			<h2>Sube tus risas</h2>
			<p>Bienvenido a un sitio divertido donde podrás compartir tus imagenes favoritas (0 pornografia, racismo o imagenes de mal gusto).</p>
			<p>Algunas recomendaciones:</p>
			<ul>
				<li>Colocar el link adecuado a la imagen.</li>
				<li>Colocar un nombre corto y sencillo.</li>
				<li>Divertirte compartiendo tus imagenes!.</li>
			</ul>
			&nbsp;
			<p>Todo el sitio ha sido desarrollado por José Viloria, con ayuda de Kevin (@jumptocode) para el proyecto <a href="http://jumptocode.com">Jump To Code</a>.</p>
			
	  </div>
	</div>
</div>