<div class="container">
	<div class="page-header">
  		<h1 align="center"><%= imagenes.titulo %> <small> - <%= imagenes.poster %></small></h1>
	</div>
	<div class="container" align="center">
		<img src="<%= imagenes.link %>" align="center" alt="<%= imagenes.titulo %>" />
	</div>
</div>