<div class="container">
	<div class="page-header">
  		<h1><%= imagenes.titulo %> <small> - <%= imagenes.poster %></small></h1>
	</div>
	<img src="<%= imagenes.link %>" alt="<%= imagenes.titulo %>" />
</div>